node_modules
dist
.vercel
.DS_Store

# Env — KHÔNG commit
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prompts
.github/prompts

# Temp
*temp*

# Claude files
.claude

# Serena
.serena

# VS Code
.vscode
